

<div class="spinner-grow text-secondary loading" role="status" *ngIf="loading">
  <span class="sr-only"></span>
</div>



<div class="container-movie buttons-actions">
     <div class="row">
        <div class="col-md-12">
            <div class="row"  *ngIf="!loading">
                <div class="col-sm-4 separate border-top-0" *ngFor="let pelicula of peliculasLista | paginate: { itemsPerPage: 6, currentPage: indicePagina }; let i = index">
                    <div class="column-block">
                        <div class="card viewcard" style="width: 18rem;">
                        <img [src]="pelicula.images['Poster Art'].url" class="card-img-top rounded" alt=""> 

                            <div class="card-body ">
                                <h5 class="card-titl text-card">{{pelicula.title}} </h5>
                                <p class="card-text text-card">{{pelicula.description}}</p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
            <pagination-controls (pageChange)="indicePagina = $event; cambiarPagina()" previousLabel="" nextLabel="" class="pagination" *ngIf="!loading"></pagination-controls>
        </div>
     </div>
</div>

     


