<nav class="navbar  justify-content-between menu rounded">
    <div class="col-sm-6">
        <div class="column-block">
            <a class="navbar-brand" > 
                <img src="../assets/img/movie.svg" alt="" class="img-nav ">
                XtremeMedia</a>
         </div>
    </div>


        <div class="col-sm-6 buttons-actions">
            <div class="column-block">
                        <app-auth-button></app-auth-button>
            </div>
    </div>
</nav>




            <router-outlet></router-outlet>
