
            <nav class="navbar  justify-content-between menu rounded">

                <div class="col-sm-4">
                    <div class="column-block">
                          <a class="navbar-brand" style="text-align: center;">Extreme Media</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="column-block">
                          <a class="navbar-brand" style="text-align: center;">Peliculas</a>
                          <a class="navbar-brand" style="text-align: center;">Series</a>
                    </div>
                </div>

                 <div class="col-sm-4">
                    <div class="column-block">
                            <button type="button"  class="btn btn-secondary btn-sm">Cerrar Sesion</button>
                    </div>
                </div>

            </nav>


<div class="container">
     <div class="row">
        <div class="col-md-12">

            <br>
            <router-outlet></router-outlet>
        </div>
     </div>
</div>