/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

body {
    background-color: black;
}


.separate {
  display: inline-block;
  padding: 5px;
}

.viewcard{
    background-color: rgba(48,57, 73,.6) !important;
    width: 100% !important;
}


.text-card{

    font-family: Candara;
    color: rgb(255, 255, 255);
}

.menu {
    background-color: #303949;
    font-family: Candara;
    font-size: large;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

.pagination{
  position: relative;
  margin-top: 40px;
  text-align: end;
  font-size: 14px;
  color: #ffffff;
}


.buttons-actions{
     text-align: end;
}

.pagination a {
  color: #ffffff !important;
}

.pagination > * {
    width: 100%;
}


.button-tap {
   color: #303949;
}


.loading {

    width: 20rem;
    height: 20rem;
    margin-top: 15%;
    margin-left: 35%;

}


.item-menu{

    cursor: pointer;

}



.container-movie {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
max-width: 1500px;
}

.filter { margin-bottom: 30px; }

.movie-genre { margin-left: -10px }

.movie-genre span { 
    color: white; 
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
    padding: 10px 20px;
}

.movie-genre span.active {
    background-color: #303949;
    border-radius: 10px;
}

.yearfilter { text-align: end; }

.yearfilter .dropdown { 
    border-radius: 10px; 
    display: inline-block;
    width: 100px; }

.dropdown  .ng-select-container { 
    background-color: #ececec;
    padding: 0 12px;
    
}

.img-nav {
        width: 50px;
}



