/* You can add global styles to this file, and also import other style files */


body {
    background-color: black;
}


.separate {
  display: inline-block;
  padding: 5px;
}

.viewcard{
    background-color: rgba(48,57, 73,.6) !important;
    width: 100% !important;
}


.text-card{

    font-family: Candara;
    color: rgb(255, 255, 255);
}

.menu {
    background-color: #303949;
    font-family: Candara;
    font-size: large;
    color: rgb(255, 255, 255);
}

.pagination{
  position: relative;
  margin-top: 40px;
  text-align: end;
  font-size: 14px;
  color: #ffffff;
}


.buttons-actions{
     text-align: end;
}

.pagination a {
  color: #ffffff !important;
}

.pagination > * {
    width: 100%;
}


.button-tap {
   color: #303949;
}


.loading {

    width: 20rem;
    height: 20rem;
    margin-top: 15%;
    margin-left: 35%;

}


.item-menu{

    cursor: pointer;

}



.container-movie {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
max-width: 1500px;
}